<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container">
     <h1>Lunch Checker</h1>
        <div ng-controller='LunchCheckController'>
          <div class="form-group">
              <input id="lunch-menu" type="text"
              class="form-control" ng-model="list">
          </div>
          <div class="form-group">
              <button class="btn btn-default" ng-click=count(list)>Check If Too Much</button>
          </div>
          <div>
              {{msg}}
          </div>
          <div class="form-group message">
            <!-- Your message can go here. -->
          </div>
        </div>
   </div>

</body>
</html>
